        <footer class="bg-dark text-white text-center py-4 mt-auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>О нас</h5>
                        <p>Платформа Luchik помогает в обучении и достижении новых высот. Мы предоставляем доступ к качественным образовательным материалам.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Контакты</h5>
                        <p>Email: info@luchik.com</p>
                        <p>Телефон: +123 456 7890</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Следите за нами</h5>
                        <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i> Facebook</a>
                        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i> Twitter</a>
                        <a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a>
                    </div>
                </div>
                <hr class="border-white">
                <p class="mb-0">&copy; 2024 Luchik. Все права защищены.</p>
            </div>
        </footer>
