{% extends 'main/layout.html' %}

    {% block title %}
        <title>Первая страница на django</title>
    {% endblock %}

    {% block content %}
        <h1>Добро пожаловать на {{caption}}!</h1>

        <h3>Мы рады видеть вас на нашем сайте, где каждый может найти свет в мире знаний и возможностей. {{caption}} — это платформа, которая помогает вам двигаться вперед, достигать новых вершин и реализовывать самые смелые идеи. Наши образовательные программы и материалы созданы, чтобы поддерживать вас на пути к успеху.</h3>

        <h4>Наши главные ценности — качество, поддержка и инновации. Мы понимаем, насколько важно получать нужную информацию и уметь применять ее в жизни. Поэтому наши курсы, статьи и советы нацелены на практическую пользу.</h4>

        <p>Присоединяйтесь к {{caption}} и получите доступ к уникальным знаниям, актуальным материалам и полезным советам, которые помогут вам улучшить навыки и уверенно идти вперед. Вместе с нами обучение становится не только полезным, но и увлекательным процессом.

        Идите к свету знаний вместе с нами!</p>

    {% endblock %}