{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Luchik{% endblock %}</title>
</head>
<body class="bg-light">

<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 col-lg-2 bg-dark text-white min-vh-100 p-3">
            <div class="text-center mb-4">
                <img src="{% static 'main/img/logo.png' %}" alt="Luchik logo" width="150" class="img-fluid">
                <h3 class="mt-2">Luchik</h3>
            </div>


            {% include 'main/nav.html' %}

        </aside>

        <main class="col-md-9 col-lg-10 p-4">
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </main>
    </div>
</div>

{% include 'main/footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>